
**/__pycache__/
*.pyc
/minhalojaapp/__pycache__/*

/apps/categories/__pycache__/*
/apps/categories/migrations/*

/apps/products/__pycache__/*
/apps/products/migrations/*

/apps/socialnetworks/__pycache__/*
/apps/socialnetworks/migrations/*

/apps/persons/__pycache__/*
/apps/persons/migrations/*

/apps/employees/__pycache__/*
/apps/employees/migrations/*

/apps/clients/__pycache__/*
/apps/clients/migrations/*